html
    head
        title= title
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css")
        script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js")
    body
        .container.mt-4
            h1= title
            hr
            form(action="/submit", method="POST")
                .form-group
                    textarea.form-control(name="message", cols="30", rows="3", placeholder="My dear Frodo, ...")
                .form-group
                    input.form-control(name="author", type="text", placeholder="Bilbo Baggins")
                button.btn.btn-primary(role="submit") Submit
            hr
            each entry in submissions
                .container
                    h6.card-subtitle.text-muted submitted by #{entry.author} on #{entry.date}
                    p.card-text= entry.message
                hr