html
    head
        title= title
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css")
    body
        .container.mt-3
            h1= title
            hr
            form(action="/submit", method="POST")
                .form-group
                    textarea.form-control(name="message", cols="30", rows="3", placeholder="My dear Frodo, ...")
                .form-group
                    input.form-control(name="author", type="text", placeholder="Bilbo Baggins")
                button.btn.btn-primary(role="submit") Submit
            hr
            each entry in submissions
                .container
                    p= entry.message
                    small.text-muted submitted by #{entry.author} on #{entry.date}
                hr